.tile {
    cursor: move;
}
.sortable-ghost {
    opacity: 0.5;
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} */
/* main{
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
   
    background-color: dark;
}

.container{
 
    width: 440px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 7px;
    background-color: rgb(22, 22, 24);
    box-shadow: 0 10px 20px rgba(0,0,0,1);
    justify-content: center;
    align-content: center;
    font-family: monospace;
}
.container h2{
    font-size: 24px;
    font-weight: 500;
    padding: 16px, 24px;
    border-bottom: 1px solid darkgrey;
    text-align: center;
}

.container .endScreen {
    display: none;

}
.endScreen .content{
    background-color: rgb(22, 22, 24);
    margin: auto;
    padding: 20px;
    width: 50%;
}
.endScreen-wrong{
    border: 2px solid red;
}

.endScreen-correct{
    border: 2px solid green;
}

.startArea{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .content{
    justify-items:center;
    align-content: center;
    margin: 25px, 20px 35px;
}

.container .word{
    user-select: none;
    font-size: 33px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 24px;
    margin-right: -24px;
    word-break: break-all;
    text-transform: uppercase;
}

.content .details{
    margin: 25px 0 20px;
}
.details p{
    font-size: 18px;
    margin-bottom: 10px;
}

.content input{
    width: 90%;
    height: 50%;
    outline: none;
    padding: 0 16px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid lightslategray;
    
}
.score-area{
    padding-top: 15px;
    font-size: 18px;
    color: white;
}

.score{
    color:aqua
}

@media screen and (max-width: 640px){
    .container h2{
        font-size: 22px;
        padding: 13px 20px;
    }
    .content .word{
        font-size: 30px;
        letter-spacing: 20px;
        margin-right: -20px;
    }
    .container .content{
        margin: 20px 20px 30px;
    }
    .details p{
        font-size: 16px;
        margin-bottom: 8px;
    }
    .content .input{
        height: 55px;
        font-size: 17px;
    }
} */