:root{
    --bs-warning-rgb: 153, 134, 45;
}

/* Header Styles */
h1 {
    left: 50%;
    transform: translateX(-50%);
}

.tooltip {
    --bs-tooltip-bg: #505050;
    --bs-tooltip-color: #ffffff;
}

.home-btn{
    background-image: url('../images/home-icon.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
}

/* Keyboard Styles */

.key-btn {
    font-size: 1.3rem;
    padding: 0.4rem 0.9rem;
    touch-action: manipulation;
}

.big-key-btn {
    font-size: 1.3rem;
    padding: 0.4rem 1rem;
    flex-basis: 100px;
    touch-action: manipulation;
}

@media (max-width: 1200px) {
    .key-btn {
        font-size: 1.2rem;
        padding: 0.5rem 0.75rem;
    }
    
    .big-key-btn {
        font-size: 1.2rem;
        padding: 0.5rem 0.5rem;
    }
}
@media (max-width: 600px) {
    .key-btn {
        font-size: 1.2em;
        padding: 0.3rem 0.6rem;
    }
    
    .big-key-btn {
        font-size: 1.2rem;
        padding: 0.3rem 0.6rem;
        flex-basis: 50px;
    }
}

@media (max-width: 450px) {
    .key-btn {
        font-size: 1.2rem;
        padding: 0.2rem 0.5rem;
    }
    
    .big-key-btn {
        font-size: 0.7rem;
        padding: 0.2rem 0.5rem;
        /* flex-basis: 10px; */
    }
}

#keyboard-container {
    font-family: monospace;
}


