:root{
    --bs-warning: #99862d;
    --bs-warning-rgb: 153, 134, 45;
}

/* Header Styles */
.header-text {
    left: 50%;
    transform: translateX(-50%);
}

/* Shake animation */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.5s ease;
}

.tooltip {
    --bs-tooltip-bg: #505050;
    --bs-tooltip-color: #ffffff;
}

.home-btn{
    background-image: url('../images/home-icon.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
}

/* Keyboard Styles */
#keyboard-container{
    padding: 0 10px 10px 10px;
}
.keyboard-row {
    gap: 0.3rem;
    margin-top: 0.3rem;
}

.key-btn {
    font-size: 1.3rem;
    /* padding: 0.4rem 0.9rem; */
    touch-action: manipulation;
    font-family: monospace;
}

.big-key-btn {
    font-size: 0.9rem;
    /* padding: 0.2rem 1rem; */
    flex-basis: 100px;
    touch-action: manipulation;
    font-family: monospace;
}
@media (max-width: 576px) {
    .keyboard-row {
        gap: 0.3rem;
        margin-top: 0.3rem;
        
    }   
    .key-btn {
        font-size: 1.1em;
        padding: 0.9rem 0.7rem;
    }
    
    .big-key-btn {
        font-size: 0.7rem;
        padding: 0.3rem 0.7rem;
        flex-basis: 50px;
    }
}

@media (max-width: 400px) {
    .keyboard-row {
        gap: 0.2rem;
        margin-top: 0.2rem;
    }
    .key-btn {
        font-size: 1.1rem;
        padding: 0.8rem 0.6rem;
    }
    .big-key-btn {
        font-size: 0.7rem;
        padding: 0.8rem 0.6rem;
        /* flex-basis: 10px; */
    }
}