:root{
    --bs-warning: #99862d;
    --bs-warning-rgb: 153, 134, 45;
}

/* Home Page Styles*/
.header-home{
    position:fixed;
    top: 0;
    z-index: 11;
    background-color: var(--bs-dark);
    text-shadow: 3px 3px 5px #000;
}
.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    overflow: hidden;
    position: relative;
}
.hero-image {
    margin-top: 100px;
    height: 40vh;
    width: 100%;
    object-fit: contain;
    position: fixed;
}
.artist_credit{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(100px);
    padding: 0.5rem;
    font-size: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
}
.grid-home{
    display: grid;
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
    gap: 20px;
    z-index: 10;
}
.tile-home{
    color: var(--bs-body-color);
    background-color:#0f2131;
    height: 150px;
    width: 250px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    text-shadow: 1px 1px 2px #000;
    z-index: 10;
    transition: 0.3s;
}

.tile-home:hover{
    background-color: var(--bs-primary);
    scale: 1.1;

}

/* Global Header Styles */
.header-text {
    left: 50%;
    transform: translateX(-50%);
}

.tooltip {
    --bs-tooltip-bg: #505050;
    --bs-tooltip-color: var(--bs-body-color);
}

.home-btn{
    background-image: url('../images/home-icon.png');
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
}

/* Keyboard Styles */
#keyboard-container{
    padding: 0 10px 10px 10px;
}
.keyboard-row {
    gap: 0.3rem;
    margin-top: 0.3rem;
}

.key-btn {
    font-size: 1.3rem;
    /* padding: 0.4rem 0.9rem; */
    touch-action: manipulation;
    font-family: monospace;
}

.big-key-btn {
    font-size: 0.9rem;
    /* padding: 0.2rem 1rem; */
    flex-basis: 100px;
    touch-action: manipulation;
    font-family: monospace;
}
@media (max-width: 576px) {
    .artist_credit{
        left:auto;
        transform: none;
        right: 10px;
    }
    .grid-home{
        grid-template-columns: repeat(2, 190px);
        gap: 8px;
    }
    .tile-home{
        height: 120px;
        width: 190px;
        font-size: 1.6rem;
    }

    .keyboard-row {
        gap: 0.3rem;
        margin-top: 0.3rem;
        
    }   
    .key-btn {
        font-size: 1.1em;
        padding: 0.9rem 0.7rem;
    }
    
    .big-key-btn {
        font-size: 0.7rem;
        padding: 0.3rem 0.7rem;
        flex-basis: 50px;
    }
}

@media (max-width: 400px) {
    .grid-home{
        grid-template-columns: repeat(2, 165px);
        gap: 7px;
    }
    .tile-home{
        height: 110px;
        width: 165px;
        font-size: 1.5rem;
    }

    .keyboard-row {
        gap: 0.2rem;
        margin-top: 0.2rem;
    }
    .key-btn {
        font-size: 1.1rem;
        padding: 0.8rem 0.6rem;
    }
    .big-key-btn {
        font-size: 0.7rem;
        padding: 0.8rem 0.6rem;
        /* flex-basis: 10px; */
    }
}