.square, .circle {
    font-family: monospace;
    flex: 1;
    max-width: 60px;
    min-width: 20px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.pointer {
    cursor: pointer;
}

.custom-body-color {
    color: var(--bs-body-color);
}

@media screen and (max-width: 600px) {
    .square, .circle {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 450px) {
    .square, .circle {
        font-size: 1.3rem;
    }
}